
@tailwind components;

@layer components {
  /* HEARTI dimension colors - updated with swapped colors for empathy and transparency */
  .dimension-humility {
    color: #EE2D67;
  }
  
  .dimension-empathy {
    color: #3953A4;
  }
  
  .dimension-accountability {
    color: #00A249;
  }
  
  .dimension-resiliency {
    color: #FFCC33;
  }
  
  .dimension-transparency {
    color: #18B7D9;
  }
  
  .dimension-inclusivity {
    color: #5B0F58;
  }
}
